h1 {
    font-size: 5rem;
}

.online {
    color: green;
}

.offline {
    color: red;
}

.Players_Online{
    margin-bottom: -30px;
}

ul {
    list-style: none;
  }
  
  ul li:before {
    content: '- ';
  }