{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='style/admin.css') }}">
{% endblock %}

{% block title %}Admin{% endblock %}

{% block content %}
<h1>Info</h1>
<form action="" method="post">
    User: <input type="text" name="userForm" value="{{ data['user'] }}"><br>
    Password: <input type="password" name="passwordForm" value="" ><br>
    <br>
    Crafty URL: <input type="text" name="craftyurlForm" value="{{ data['craftyurl'] }}"><br>
    Crafty Server ID: <input type="text" name="serverIdForm" value="{{ data['craftyserverid'] }}"><br>
    Crafty API Token: <input type="password" name="craftyapiForm" value=""><br>
    <br>
    Java URL: <input type="text" name="JavaURLForm" value="{{ data['server_java'] }}"><br>
    Bedrock URL: <input type="text" name="BedrockURLForm" value="{{data ['server_bedrock'] }}"><br>
    Map URL: <input type="text" name="MapURLForm" value="{{ data['server_map'] }}"><br>
    Discord Link: <input type="text" name="DiscordLinkForm" value="{{data ['discord_link'] }}"><br>
    <input type="submit" value="Update">
</form>

{% endblock %}

{% block script %}
{% endblock %}