{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='style/index.css') }}">
{% endblock %}

{% block title %}Home Page{% endblock %}

{% block content %}
<h2 onclick="copyLink('{{ server_uri_java }}')">Java: {{ server_uri_java }}</h2>
{% if server_uri_bedrock != "": %}
<h2 onclick="copyLink('{{ server_uri_bedrock }}')">Bedrock: {{ server_uri_bedrock }}</h2>
{% endif %}
<div class="server_status">
    {% if api_status == 'Ok' %}    
        {% if server_status['running'] == 'true' %}
            <h3 class="online">Online</h3>
        {% else %}
            <h3 class="offline">Offline</h3>
        {% endif %}
        <h3>Players: {{ server_status['players_online'] }}</h3>
    {% endif %}
</div>
{% endblock %}

{% block script %}
<script>
    function copyLink(text) {
        var elem = document.createElement("textarea");
        document.body.appendChild(elem);
        elem.value = text;
        elem.select();
        document.execCommand("copy");
        alert("Copiado link " + text);
        document.body.removeChild(elem);
    }
</script>
{% endblock %}