h2 {
    font-size: 95%;
}

.server_info {
    display: grid;
    align-items: center; 
    grid-template-columns: 50px 50px 50px;
    column-gap: 50px;
}


.server-link {
    font-size: 80%;
    padding: 10px;
    background-color: black;
    border-style: groove;
    border-radius: 5px;
    border-color: white;
}

.online {
    color: green;
}

.offline {
    color: red;
}

.Players_Online{
    margin-bottom: -30px;
}

ul {
    list-style: none;
  }
  
  ul li:before {
    content: '- ';
  }